.slider {
  overflow: hidden;
}

.slider__content {
  display: flex;
  /* transform: translate3d(-666px, 0, 0); */
}

.slider__item {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin-inline: 1.5rem;
}
