:root {
  --primary: #fb5;
  --secondary: #e54;

  --secondary-dark: rgb(192, 69, 56);

  --success: #bfdb38;
  --danger: #e21818;

  --black: #000000;
  --white: #ffffff;

  --dark: #222222;
  --light: #faf6ed;

  --dark-shadow: rgba(0, 0, 0, 0.5);

  --default-font: "IBM Plex Mono", monospace;
}
